.tc_icon {
  color: teal;
}

.tc_div {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 1140px) {
    .tc_div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 600px) and (max-width: 1139px) {
    .tc_div {
        grid-template-columns: 1fr 1fr;
    }
}

.tc_row {
  display: block;  
}

.tc_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
}
